apiVersion: external-secrets.io/v1alpha1
kind: ClusterSecretStore
metadata:
  name: azure-kv-store
  namespace: external-secrets
spec:
  provider:
    azurekv:
      tenantId: bbc54032-4b98-47b2-a66f-84c9283db1ec
      # URL of your vault instance, see: https://docs.microsoft.com/en-us/azure/key-vault/general/about-keys-secrets-certificates
      vaultUrl: "https://kv-mkped-homelab.vault.azure.net"
      authSecretRef:
        clientId:
          name: azure-secret-sp
          key: ClientID
          namespace: external-secrets
        clientSecret:
          name: azure-secret-sp
          key: ClientSecret
          namespace: external-secrets
