apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      version: '36.3.0'
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 10m
  values:
    nodeSelector:
      node-role.kubernetes.io/master: "true"

    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true