apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      version: '39.0.2'
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 10m
  values:
    nodeSelector:
      node-role.kubernetes.io/master: "true"

    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "500m"
        memory: "256Mi"

    providers:
      kubernetesGateway:
        enabled: true
    gateway:
      enabled: false
    ports:
      web:
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
      websecure:
        http:
          tls: false